@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/theme-crisp-all.css">
    <meta name="viewport" content="width=device-width" />
    <title>Ext JS 4 Examples - loiane.com</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    
    <script src="~/Scripts/ext.js 6.0.1/ext-all.js"></script>
    <script>
        Ext.Loader.setConfig({
            enabled: false
        })
    </script>
    <script src="~/Scripts/theme-crisp.js"></script>
    <script src="~/Scripts/theme-crisp-debug.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/array-grid.css" />

    <script type="text/javascript" src="~/Home/app/model/Team.js"></script>
    <script type="text/javascript" src="~/Home/app/store/Store.js"></script>
    <script type="text/javascript" src="~/Home/app/view/TeamGrid.js"></script>
    <script type="text/javascript" src="~/Home/app/view/Viewport.js"></script>
    <script type="text/javascript" src="~/Home/app/controller/TeamController.js"></script>


    <script type="text/javascript" src="~/Home/app.js"></script>
</head>
<body>
</body>
</html>





<script>


</script>